<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IEngineService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://engine-externo.hml.anp.gov.br/engine_service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEngineService"
                contract="WebServiceANP.IEngineService" name="BasicHttpsBinding_IEngineService" />
        </client>
    </system.serviceModel>
</configuration>